.vertical-line {
  display: inline;
  height: 75px;
  margin: 0 40px 0 40px;
  border-left: 1px solid silver;
  opacity: 0.4;
}

.d-flex {
  display: flex;
  align-items: center;
  justify-content: center;
}

.margin-top {
  margin-top: 20px;
}
