.signIn-content-modal {
  height: 300px;
  width: 400px;
  background-color: white;
  border: 1px solid silver;
  border-radius: 15px;
  opacity: 0.9;
  padding: 50px;
  &-data {
    display: block;
    width: 100%;
    height: 140px;
    p {
      margin-left: 7px;
    }
  }
  &-button {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
  }
}
