* {
  margin: 0;
  padding: 0;
}

.signIn {
  height: 10em;
  position: relative;
  background-image: url('../../../../assets/img/3376542.jpg');
  min-height: 705px;
  background-size: cover;
  align-items: center;
  justify-content: center;

  &-content {
    position: absolute;
    top: 50%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);

    &-back-button {
      display: flex;
      margin: 0 0 10px 10px;
      align-items: center;
      color: white;
      text-decoration: none;
      img {
        width: 15px;
        height: 15px;
      }
      p {
        margin-left: 10px;
        font-weight: 100;
        font-size: medium;
      }
      &:hover {
        opacity: 0.8;
        cursor: pointer;
      }
    }

    &-modal {
      height: 300px;
      width: 400px;
      background-color: white;
      border: 1px solid silver;
      border-radius: 15px;
      opacity: 0.9;
      padding: 50px;
      &-data {
        display: block;
        width: 100%;
        height: 140px;
        p {
          margin-left: 7px;
        }
      }
      &-button {
        display: flex;
        justify-content: center;
        align-items: center;
        margin-top: 20px;
      }
    }
  }
}
