 //main color: #b8a392

.header {
  position: sticky;
  top: 0;
  background-color: white;
  height: 75px;
  display: flex;
  padding: 0 25px 0 25px;
  align-items: center;
  width: 100%;
  z-index: 999;
  border-bottom: 1px solid silver;

  .menuIcon {
    display: flex;
    width: 80px;
    justify-content: space-between;
    font-size: large;
    font-weight: bolder;
  }

  .row {
    display: flex;
    align-items: center;
  }

  .coffee-house-icon {
    display: flex;
    width: 550px;
    justify-content: center;
    img {
      height: 100px;
      width: 200px;
      cursor: pointer;
    }
  }

  .shop-row {
    display: flex;
    width: 110px;
    align-items: center;

    p {
      font-size: large;
      font-weight: bolder;
    }
  }
}
